.menu-item:nth-child(3n) {
    margin-right: 0;
}

.sorting-options-menu-item {
    position: relative;
}

.sorting-dropdown {
    display: none;
    background-color: #FFF;
    width:300px;
    position:absolute;
    top: 100%;
    right: -32px;
    z-index: 100;
    padding: 10px 14px;
    box-shadow: 0 6px 9px rgba(0,0,0,0.3);
    border: solid 1px #CCC;
    border-top: none;
}
li:hover .sorting-dropdown {
    display: block;
}
.sorting-dropdown:after {
    content: "";
    display: table;
    clear: both;
}
.sorting-dropdown .sorting-options-list {
    display: block;
    background-color: #DDD;
    min-height: 45px;
    float: left;
    width:48%;
    padding: 0;
    margin: 0 0 0 4%;
    border:none;
}

.sorting-dropdown .sorting-options-list:first-child {
    margin-left: 0;
}

.sorting-options-list .icon-sortable {
    color:#999;
    border-left:none;
    border-right:none;
}
.sorting-options-list .icon-sortable:hover {
    color:#F44;
}


.sorting-options-enabled .icon-sortable {
    background-color: #ADA;
    color: #464;
}
.sorting-options-enabled {
    background-color: #BDB;
}

@keyframes new-feature {
    0% {transform: scale(1);}
    92% {transform: scale(1);}
    96% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
@-webkit-keyframes new-feature {
    0% {color:rgb(155, 155, 155);}
    46% {-webkit-transform: scale(1);color:rgb(155, 155, 155);}
    48% {-webkit-transform: scale(1.1);color:rgb(95, 185, 95);}
    50% {-webkit-transform: scale(1);color:rgb(155, 155, 155);}
    100% {color:rgb(155, 155, 155);}
}
.new-feature a {color:inherit!important;}
.new-feature {
    -webkit-animation-name: new-feature;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-name: new-feature;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.new-feature:hover {
    -webkit-animation-name: none;
    animation-name: none;
}